* {
  font-family: "Uber Move", Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.navbar {
  background-color: #000;
}

.nav-link {
  color: white !important;
}

.navbar-brand {
  color: white !important;
  font-weight: bold;
}

.dropdown-item {
  color: #fff;
  background-color: #000;
}

.dropdown-divider {
  border-top-color: #000;
  border-bottom-color: #000;
  background-color: #000;
  color: #000;
}

.dropdown-menu {
  background-color: #000;
  border: 1px solid #fff;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section ul li {
  margin-bottom: 10px;
}

section ul li a {
  color: #fff;
  text-decoration: none;
}

section ul li a:hover {
  color: #aaa;
}

.course-name {
  padding-right: 20px;
}
