@font-face {
  font-family: 'Uber Move';
  src: url('UberMove-Bold.eot');
  src: local('UberMoveBold'), local('UberMove-Bold'),
      url('UberMove-Bold.eot?#iefix') format('embedded-opentype'),
      url('UberMove-Bold.woff2') format('woff2'),
      url('UberMove-Bold.woff') format('woff'),
      url('UberMove-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Uber Move';
  src: url('UberMove-Regular.eot');
  src: local('UberMoveRegular'), local('UberMove-Regular'),
      url('UberMove-Regular.eot?#iefix') format('embedded-opentype'),
      url('UberMove-Regular.woff2') format('woff2'),
      url('UberMove-Regular.woff') format('woff'),
      url('UberMove-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Uber Move';
  src: url('UberMove-Light.eot');
  src: local('UberMoveLight'), local('UberMove-Light'),
      url('UberMove-Light.eot?#iefix') format('embedded-opentype'),
      url('UberMove-Light.woff2') format('woff2'),
      url('UberMove-Light.woff') format('woff'),
      url('UberMove-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Uber Move';
  src: url('UberMove-Medium.eot');
  src: local('UberMoveMedium'), local('UberMove-Medium'),
      url('UberMove-Medium.eot?#iefix') format('embedded-opentype'),
      url('UberMove-Medium.woff2') format('woff2'),
      url('UberMove-Medium.woff') format('woff'),
      url('UberMove-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


* {
  font-family: "Uber Move", Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-decoration: none;
}

.navbar {
  background-color: #000;
}

.homepageIMG{
  max-height: 100%;
  max-width: 100%;
}

.nav-link {
  color: white !important;
}

.navbar-brand {
  color: white !important;
  font-weight: bold;
}

.header-link:hover {
  text-decoration: none;
}

#navbarTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#navbarTitle h1:nth-child(1) {
  color: #fff;
  margin-bottom: 0.2em;
  line-height: 0.3;
  font-size: 5rem;
  font-weight: lighter;
}

#navbarTitle h1:nth-child(2) {
  color: #FFE400;
  margin-bottom: 0.2em;
  line-height: 0.3;
  font-size: 6rem;
  font-weight: bold;
}

.dropdown-item {
  color: #fff;
  background-color: #000;
}

.dropdown-menu {
  background-color: #000;
  border: 1px solid #fff;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section ul li {
  margin-bottom: 10px;
}

section ul li a {
  color: #fff;
  text-decoration: none;
}

section ul li a:hover {
  color: #aaa;
}

.course-name {
  padding-right: 20px;
}

#cookie-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #000;
  text-align: center;
  z-index: 9999;
}

#cookie-popup p {
  margin: 0;
}

#cookie-accept {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#cookie-accept:hover {
  background-color: #0062cc;
}

.round-btn {display: inline;height: 40px; width: 40px; background:#fff;border-radius: 50%;float: left;margin: 15px 8px;box-shadow: 2px 2px 5px 0px rgb(82, 0, 67);border: 1px solid;/*border: 1px solid #622657;*/}
.round-btn a {display: block !important;padding: 7px 12px;font-size: 18px;border-radius: 50%;}
.round-btn .icon {padding: 3px;}
.round-btn .icon img{height: 24px; width: 32px;margin-top: 6px;}
.btn-facebook a {color: #3b5998;padding: 8px 13px;}
.btn-linkedin a {color: #007bb6;}
.btn-twitter a{color: #1c9deb;}
.btn-instagram a{color: #dd3f5c;}
.btn-whatsapp a{color: #155E54;}
.btn-envelop a{color: #D6403A;font-size: 15px; padding: 9px 12px;}
.standard_header .standard_social_links {margin-left: 1rem;}

  /*
  =========================================================================================
                                    footer
  =========================================================================================
  */
  
  .footer-wrap {
    padding-top: 43px;
    background-size: cover;
}

.footer-wrap h3 {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-wrap p {
    font-size: 13px;
    line-height: 24px;
    color: #b3b3b3;
    margin-top: 15px;
}

.footer-wrap p a {
    color: #fff;
    text-decoration: underline;
    font-style: italic;
}

.footer-wrap p a:hover {
    text-decoration: none;
    color: #ff7800;
}

.footer-links li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}


.footer-links li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #ccc;
}

.footer-category li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}

.footer-category li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #b3b3b3;
}

.address {
    
    color: #b3b3b3;
    font-size: 14px;
    position: relative;
    padding-left: 30px;
    line-height: 30px;
}

.address:before {
    content: "\f277";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
}

.info a {
 
    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-phone:before {
    content: "\f095";
}

.info a {

    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-fax:before {
    content: "\f1ac";
}

.copyright {
    border-top: 1px solid #111;
    font-size: 14px;
    color: #ccc;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    background: #b44e4e;
}
footer .second_class{
    border-bottom: 1px solid #444;
    padding-bottom: 25px;
}
footer .first_class {
    padding-bottom: 21px;
    border-bottom: 1px solid #444;
}
footer .first_class p, footer .first_class h3{
    margin: 0 0;
    
}
footer{
    background: #333;
    color: #333;
}

footer .newsletter input[type="text"] {
    width: 100%;
    background: #fff;
    color: #333;
    border: 1px solid #222;
    padding: 14px 20px;
    border-radius: 50px;
    margin-top: 12px;
}

.newsletter .newsletter_submit_btn {
    background: #fff;
    position: absolute;
    right: 30px;
    border: 0;
    top: 26px;
    font-size: 17px;
    color: #333;
}


footer .second_class_bdr{
    padding-top: 25px;
    border-top:1px solid #222;
}

footer .btn-facebook a {
    padding: 6px 14px !important;
}

footer .btn-envelop a {
    color: #D6403A;
    font-size: 15px;
    padding: 12px 12px;
}

footer .round-btn a {
    padding: 6px 12px;
}

footer .round-btn {
    box-shadow: 2px 2px 5px 0px #222 !important;}

footer .round-btn {
    margin: 15px 4px;}
  
footer dl, ol, ul {
    padding-left: 5px;
}
  footer li{
    list-style: none;
  }

@media(max-width:768px){
    .footer-wrap h3 {
    margin-top: 27px;}
    
    footer .round-btn {
    margin: 15px 4px;}
}
@media(max-width:320px){
.copyright {
    font-size: 13px;}
} 
